@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');
* {
    margin: 0;
    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #645E56;
}
body {
    background-color: #EDA399;
}
main {
    min-width:  400px;
    width: 70%;
    max-width: 1200px;
    background-color: antiquewhite;
    text-align: center;
    border: #EDA399 1px;
    border-radius: 15px 15px 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 25px;
}
header {
    /*background-color: ;*/
    width: 100%;
}
header > img {
    width: 100%;
    max-width: 500px;
}
header > img:hover {
    width: 100%;
    max-width: 500px;
    background-color: rgba(0,0,0,0);
}
header > h1 {
    font-size: 60px;
    text-shadow:  5px 5px white;
    color: #EDA399;
    font-weight: 900;
}
header > label {
    font-size: 15px;
    font-style: italic;
    color: rgba(0,0,0,0.6);
}
hr {
    margin:15px;
    border-color: #EDA399;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 50px;
    box-shadow: 1px 2px white;
    /*margin-top: 25px;
    margin-bottom: 25px;*/
}
.navlink > img {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin:5px;
    background-color: rgba(255,255,255,0);
    border-radius: 5px;
    transition: 280ms;
}
img:hover {
    background-color: rgba(255,255,255,0.8);
    transition: 280ms;
}
.footer-links {
    margin-top: 15px;
    margin-bottom: 15px;;
}
nav > a {
    padding: 10px;
    display: inline-block;
    margin: 5px;
    height: 25px;
    /*background-color: red;*/
    border-radius: 50px;
    border-color: rgb(237, 163, 153);
    border-width: 3px;
    border-style: solid;
    font-style: normal;
    font-weight: 700;
    color: rgb(49, 40, 40);
    text-decoration: none;
    transition: 280ms;
}
nav >a:hover {
    background-color: rgba(255,255,255,0.8);
    transition: 280ms;
}
li {
list-style: none;
}
.newest-art {
    width: calc(100% - 30px);
    margin: 15px;
    border-radius: 5px;
}